@charset "utf-8";

* { zoom: 1.0; }
.BM-bottom input[type=button] { zoom: 1.0; }

/*input[type=button] { font-size: 16px; }*/
/*.nav-title label { font-size: 16px; }*/
/*.tree-drive > label { font-size: 16px; }*/
/*.tree-folder { font-size: 15px; }*/
/*.BM-title label { font-size:16px; }*/
/*.BM-folder { font-size: 15px; }*/
/*.BM-editBtn { font-size: 16px; }*/
/*.contents-title > div:nth-child(2) label:nth-child(2) { font-size: 20px; }*/
/*.contents-title > div:nth-child(2) label:nth-child(3) { font-size: 15px; }*/
/*.contents-title > div:nth-child(3) label,*/
/*.bookmark-title > div:nth-child(4) label { font-size: 16px; }*/
/*.contents-search button { font-size: 16px; }*/
/*.list > div div:first-child { font-size: 14px; }*/
/*.list > div div:last-child { font-size: 12px; }*/
/*.dialog { font-size: 16px; }*/
/*.dialog-setting { font-size: 20px; }*/
/*.dialog-setting li div:last-child { font-size: 16px; }*/
/*.dialog-setting input[type=button] { font-size: 20px; }*/
/*.dialog-title { font-size: 20px; }*/
/*.dialog-confirm > div:first-child { font-size: 16px; }*/
/*.dialog-fixed li { font-size: 16px; }*/

.main-contents { width: 74%; height: 100%; position: relative; left: 26%; }

section > nav {
    width: 26%; height: 100%;
    position: relative; z-index: 300;
    color: #FFFFFF;
    border-right:1px solid #000;
    display: block;
    float: left; overflow: hidden;
    box-shadow: 3px 10px 10px #888888;
}

nav.openedMenu { left: 0%; }
nav.closedMenu { left: -26%; }

header { height: 6.3%; }
section { height: 93.7%; }
.contents-title { height: 6.3%; top: 6.3%; }
.contents-search { height: 6.3%; top: 12.6%; }
.contents-list { height: 81.1%; top: 18.9%; }

header label:nth-child(1) { width: 10%; background: url("../images/img/logo.png") no-repeat; background-size: 100%; background-position-y: 80%; }
header div:nth-child(2) { width: 3.3%; right: 19%; }
header div:nth-child(2) img { width: 80%; content: url("../images/icon/document.png"); }
header div:nth-child(3) { width: 3.3%; right: 11%; }
header div:nth-child(3) img { width: 80%; content: url("../images/icon/backToViewer.png"); }
header div:nth-child(4) { width: 3%; right: 5%; }
header div:nth-child(4) img { width: 80%; content: url("../images/icon/header_afresh.png"); }
header div:nth-child(5) { width: 3.2%; right: 1%; text-align: right; }
header div:nth-child(5) img { width: 80%; content: url("../images/icon/header_set.png"); }
header div:nth-child(6) { width: 3.3%; right: 8%; }
header div:nth-child(6) img { width: 90%; content: url("../images/icon/ebook.png"); }
header div:nth-child(7) { width: 3.3%; right: 1%; }
header div:nth-child(7) img { width: 90%; content: url("../images/icon/close.png"); }

nav > div:nth-child(1) { height: 6.3%; }
nav > div:nth-child(2) { height: 62.7%; }
nav > div:nth-child(3) { height: 6.3%; }
nav > div:nth-child(4) { height: 19%; }

.tree-drive > img { width: 23px; }
.nav-title img { width: 26px; }
.recentBtn { height: 6.3%; }
.recentBtn > img { width: 30px; }
.BM-editBtn2 { padding-top: 5%; }

.dialog { width: 45%; z-index: 999; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; margin: auto; border: 1px solid #C3C3C3; border-radius: 6px; box-shadow: 10px 15px 15px #333333; font-weight: bold; text-align: center; display: none; }

.main-contents { height: 100%; position: relative; transition: all 0.5s ease; }
.main-contents.openedMenu { width: 74%; left: 26%; }
.main-contents.closedMenu { width: 100%; left: 0%; }

input[type=button] { padding: 5px 12px; margin: 0px 15px; }
/********** Contents **********/
    /********** Left menu **********/
    /* Menu contents : Tree area */
        /* Folder list */
        .tree-folder { padding-left: 10px; }
        .tree-drive label:nth-child(1),
        .tree-folder label:nth-child(1) { width: 26px; }
        .tree-folder label:nth-child(2) { width: 27px; }
    /* Menu contents : Bookmark area */
        .BM-folder img { width: 27px; }
    /********** /Left menu **********/

    /********** Main contents(file lists) **********/
        /* Contents title : Close menu button *****/
        .contents-title > img:nth-child(1) { width: 22px; }
        /* Contents title : Current route */
        .contents-title > div:nth-child(2) { margin-left: 39px; padding-right: 144px; }
        .bookmark-title > div:nth-child(2) { padding-right: 244px; }
        .contents-title > div:nth-child(2) img { width: 33px; }
        .contents-title > div:nth-child(2) label:nth-child(2) { padding: 0 5px 0 10px; }
        /* Contents title : Sort button */
        .bookmark-title > div:nth-child(4) { width: 120px; right: 100px; }
        .contents-title > div:nth-child(3) img,
        .bookmark-title > div:nth-child(4) img { width: 20px; margin-left: 10px; }
        .contents-title > div:nth-child(3) { width: 120px; }

        .contents-title > div:nth-child(3) { padding-right: 22px; }
        .contents-search { padding: 0 22px; }

    /* Contents file list */
        /* Contents file list - list */
/*        .list > label:nth-child(1) { width: 28px; left: 22px; }*/
/*        .list > div { padding: 0px 70px; }*/
/*        .list > div div:last-child label:nth-child(2) { padding-left: 20px; }*/
/*        .list > label:nth-child(3) { width: 70px; }*/
/*        .list-BM-unchecked { background-position-x: 22px; }*/
/*        .list-BM-checked { background-position-x: 22px; }*/
.list img:nth-child(1) { height: 70%; left: 22px; }
.list img:nth-child(4) { height: 60%; right: 22px; }
.list img:nth-child(5) { height: 80%; right: 15px; }
.list img:nth-child(6) { height: 80%; right: 15px; }
.recent_list img:nth-child(4) { height: 80%; right: 15px; }
/*.list { height: 50px; }*/
/*.list img:nth-child(1) { width: 50px; padding-left: 22px; }*/
/*.list label:nth-child(2) { left: 70px; line-height: 50px; }*/
/*.list label:nth-child(2).openedMenu { width: 75%; }*/
/*.list label:nth-child(2).closedMenu { width: 82%; }*/
/*.list-drive label:nth-child(2) { width: calc(100% - 70px); }*/
/*.list label:nth-child(3) { width: auto; right: 70px; line-height: 50px; display: block; }*/
/*.list img:nth-child(4) { width: 50px; padding-right: 22px; }*/
        /* Contents file list - bookmark list */
/*        .BM-list > label:nth-child(3).personal { background-position-x: 22px; }*/
/*        .BM-list > label:nth-child(3).orgcowork { background-position-x: 22px; }*/
/*        .BM-list input { width: 20px; margin-right: 20px; }*/
.BM-list input { width: 20px; height: 20px; right: 25px;}
.BM-bottom.openedMenu { width: 74%; }
/********** /Contents **********/

.dialog-setting { width: 40%; height: 77%; zoom: 1.0; }
.dialog-BM-edit > div:last-child { height: 50px; }

.contents-title.openedMenu { width: 74%; left: 26%; }
.contents-title.closedMenu { width: 100%; left: 0%; }

.contents-search.openedMenu { width: 74%; left: 26%; }
.contents-search.closedMenu { width: 100%; left: 0%; }

.contents-list.openedMenu { width: 74%; left: 26%; }
.contents-list.closedMenu { width: 100%; left: 0%; }

.dialog-fixed li { height: 50px;}

.tree-open > label:nth-child(2),
.tree-close > label:nth-child(2) { margin: 0 7px 0 5px; }

.dialog-title label:last-child { background-position-x: 50%; }

.recent-clear > img { height:45%; width:35% !important; }

@media screen and (orientation: portrait) {
    /********** Main contents(file lists) **********/
        /* Contents title : Sort button */
/*        .contents-title > div:nth-child(3) { padding-right: 22px; }*/
/*        .contents-search { padding: 0 22px; }*/
}

@media screen and (orientation: landscape) {
    /********** Main contents(file lists) **********/
        /* Contents title : Sort button */
/*        .contents-title > div:nth-child(3) { padding-right: 18px; }*/
/*        .contents-search { padding: 0 18px; }*/
}
