@charset "utf-8";

input[type=button] { background-color: #227DD2; }
/********** Header **********/
header { background-color: #0A52A8; }
/********** /Header **********/

/********** Contents **********/
/********** Left menu **********/
section > nav { background-color: #4B9DEF; }
/* Menu title */
.nav-title { background-color: #227DD2; }

/* Menu contents */
/* Menu contents : Tree area */
/* Menu contents : Bookmark area */
/* selected list */
.tree-drive-selected,
.tree-selected,
.BM-selected { background-color: #227DD2; }
/********** /Left menu **********/

/********** Main contents(file lists) **********/
/* Contents title */
.contents-title { background-color: #E3EAF1; }
/********** /Main contents(file lists) **********/

/* Bookmark edit bottom button */
.BM-bottom { background-color: #E3EAF1; }
/********** /Contents **********/

/********** Dialog **********/
.dialog-title { background-color: #227DD2; }

.dialog-setting > div:nth-child(1) { background-color: #227DD2; }

.dialog-BM { background-color: #F0F8FF; }

.dialog-BM-edit li > img:nth-child(4) { content: url("../images/icon/arrow_down_lightblue.png"); }
.dialog-BM-edit li > img:nth-child(5) { content: url("../images/icon/arrow_up_lightblue.png"); }
/**********        **********/
