@charset "utf-8";
img, .imgLabel { zoom: 1.0; }

/* 세로: 100% */
@media screen and (orientation: portrait) and (min-width: 71vw) and (max-width: 100vw) {
    body { font-size: 17px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 12px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 15px; }
    #NetID_currentFolder { font-size: 15px; }
}

/* 세로: 70% */
@media screen and (orientation: portrait) and (min-width: 31vw) and (max-width: 70vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}

/* 세로: 30% */
@media screen and (orientation: portrait) and (min-width: 0vw) and (max-width: 30vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}

/* 가로: 100% */
@media screen and (orientation: landscape) and (min-width: 71vw) and (max-width: 100vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}

/* 가로: 70% */
@media screen and (orientation: landscape) and (min-width: 51vw) and (max-width: 70vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}

/* 가로: 50% */
@media screen and (orientation: landscape) and (min-width: 31vw) and (max-width: 50vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}

/* 가로: 30% */
@media screen and (orientation: landscape) and (min-width: 0vw) and (max-width: 30vw) {
    body { font-size: 16.4px; }
    .list label:nth-child(3) p:last-child,
    .BM-list label:nth-child(2) p:last-child { font-size: 11.5px; }
    .dialog-confirm > div:nth-child(2) label { font-size: 14.4px; }
    #NetID_currentFolder { font-size: 14.4px; }
}
